@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap'); 
body{
    background:  #081b29;
    color:white;
    font-family: Roboto;
   
}
nav ul{
    display: flex;
    justify-content: end;
}
nav ul li{
    list-style: none;
}
nav ul li a{
    text-decoration: none;
    margin-left: 10px;
    margin: 10px;
    background-color: rgb(80, 5, 5);
}
nav{
    background-color: gray;
    border-radius: 100px;
}
.text1{
    text-align: center;
    font-size: 25px;
}
.text2{
    text-align: center;
}

    



